[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
rope = "*"
pylint = "*"
"autopep8" = "*"

[packages]
pybuilder = "*"
pylint = "*"

[requires]
python_version = "3.6"
